page-soccer {



    #Backgroundimage{
        background-image: url("../../assets/imgs/best-background-clipart-hd-8.jpg");
    }


   
   #btn{
       border: solid 5px white;
       color :white;
       height: 80px;
   }


   h1{
    color :white;
}

p{
    color:white;
    text-transform: uppercase;
}

}
