page-cover {


    #Backgroundimage{
        background-image: url("../../assets/imgs/best-background-clipart-hd-8.jpg");
    }

    img{
        width :50%;
    }

    h1{
        color:white;
    }

    #btn{
        border : solid 8px white;
        color:white;
        height: 15%;
        font-size: 20px;
    }

    #nav{background-color: cornflowerblue}

}
